<!DOCTYPE html>
<head>
<meta charset="utf-8" />
<title>Logowanie</title>
<meta name="Description" content="Opis strony w tym miejscu. Pojawi się w wynikach Google."/>
<meta name="Keywords" content="słowa kluczowe opisujące Twoją stronę">
<link rel="stylesheet" type="text/css" href="{$conf->app_url}/css/stylelogin.css" />
</head>

<body>
   <div id="wrapper">
   
		 <div id="content">
		 
            <div id="main">
			
			<form action="{$conf->action_url}login" method="post">
				<h1>Logowanie</h1><br>
					<b>login:</b><br>
					<input type="text" name="login" value="{$form->login}" /><br><br>
			
					<b>password:</b><br>
					<input type="password" name="password" /><br><br>

					<input type="submit" value="Zaloguj"/>
			</form>

				<div id="bledy">

					{if $msgs->isError()}
					{foreach $msgs->getErrors() as $err}
					{strip}
						<font color='red'>{$err}<br></font>
					{/strip}
					{/foreach}
				{/if}

				</div>

            </div>
			
		 </div>
		 
		 <div id="copyright">
			&copy; Wszelkie prawa zastrzeżone. <br/> 
            Projekt: <a href="http://www.templatki.net">Darmowe Szablony Stron</a>			    
	     </div>

   </div>
   
</body>
</html>
